<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap.css.map">
    <link rel="stylesheet" href="/stylesheets/my.css">
</head>
<body>
    <div>
            <table class="table">
                <tr>
                    <th>    </th>
                    <th>歌曲名</th>
                    <th>时长</th>
                    <th>歌手</th>
                    <th>添加至歌单</th>
                    <th>留言</th>
                </tr>
                <tr>
                    <td>1</td>
                    <td>芸芸众生</td>
                    <td>3:24</td>
                    <td>姜云升</td>
                    <td><img  class="collect" src="/images/index/收藏.png"></td>
                    <td><img  class="collect" src="/images/index/编辑.png"></td>
                </tr>
            </table>
    </div>
</body>
</html>